.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f3a52;
}

body {
    min-height: 300px;
    background: #06090c;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111b24', endColorstr='#0c4161', GradientType=0);
    height: 100%;
    font-family: "open_sansregular";
    color: rgb(201, 203, 206);
    overflow: hidden;
    /* Panel opening and closing animation time - 200mx */
    transition: transform .2s;
    -webkit-transition: -webkit-transform .2s;
}

li {
    display: inline-block;
}

li p {
    display: block;
    color: white;
    padding: 2% 0;
    margin: 0;
}

.pointer {
    cursor: pointer;
}

#setup:hover {
    font-weight: bold;
}

.sideBar {
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    width: 20%;
    height: 100%;
    padding-top: 4%;
    right: 0%;
}

.controlTitle {
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
    background-color: rgba(50, 50, 50, 0.35);
    font-weight: bold;
    padding: 2% 0;
    z-index: 2;
    font-size: 2vw;
}

.setup-screen {
    position: fixed;
    background-color: black;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.setup-container {
    width: 20%;
    height: 100%;
    z-index: 3;
}

.container-title {
    text-align: center;
    font-weight: bold;
    width: 100%;
    font-size: 2vw;
}

.setup-container p {
    text-align: center;
    font-weight: bold;
    width: 100%;
    font-size: 1.5vw;
}

input {
    width: 20%;
    text-align: center;
    font-size: 1.5vw;
    background-color: black;
    color: white;
}

.rmoe-slider {
    width: 80%;
    padding: 0 5%;
}

.add-button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

.start-button {
    position: absolute;
    bottom: 10%;
    width: 20%;
    left: 40%;
    height: auto;
    border: 1px solid white;
    text-align: center;
    font-size: 3vw;
    border-radius: 10px;
    font-weight: bold;
    z-index: 3;
}
.sun-angle {
    position: absolute;
    bottom: 30%;
    width: 30%;
    left: 30%;
    height: auto;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    z-index: 3;
}

.start-button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

.side-data {
    background-color: rgba(50, 50, 50, 0.35);
    padding: 0;
}

#dataContainer {
    font-size: 1.6vw;
    text-align: center;
    padding: 2% 0;
}

.slider-contain {
    position: absolute;
    top: 5%;
    width: 100%;
    height: auto;
}

.slider-contain p {
    display: inline-block;
    width: 20%;
    margin-left: 10%;
    font-size: 2vw;
}

.slider-contain input {
    display: inline-block;
    width: 50%;
    margin: 0%;
}

.controlTitle:hover {
    background-color: rgba(50, 50, 50, 0.75);
}

.instruction-screen {
    position: fixed;
    top: 8%;
    width: 90%;
    height: 100%;
    display: none;
    z-index: 4;
    background-color: black;
    padding-left: 5%;
    font-size: 1.5vw;
}

.instruction-screen p,
h2,
h4 {
    color: white;
}

.selected {
    background-color: rgba(50, 50, 50, 0.85);
    font-weight: bold;
}
.team-number {
    position: fixed;
    bottom: 1%;
    left: 2%;
    color: white;
    background-color: rgba(0, 0, 0, 0);

}
.noteBar {
    background-color: rgba(25,25,50,0.75);
    position: fixed;
    bottom: 0%;
    left: 0%;
    height: 15%;
    margin: auto;
    width: 80%;
    display: none;
}
.noteBar p {
    color: white;
    font-weight: 900;
    text-align: center;
    font-size: 3vw;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.info {
    position: fixed;
    color: white;
    left: 8%;
    bottom: 2%;
}