.controls {
    /* position: absolute; */
    float: left;
    width: 100%;
    /* height: 40%; */
    background-color: rgba(50,50,50,0.5);
    /* display: none; */
    color: white;
}
.sideBar {
    position: fixed;
    background-color: rgba(0,0,0,0);
    width: 20%;
    height: 100%;
    padding-top: 1%;
}
.slider {
    width: 100%;
}
.controlTitle {
    width: 100%;
    height: 5%;
    float: left;
    color: white;
    text-align: center;
    background-color: rgba(50,50,50,0.5);
    font-weight: bold;
    z-index: 2;
    font-size: 2vw;
}
.slidercontainer {
    padding: 1.5% 10%;
    font-size: 1.5vw;
}
.slidercontainer p {
    margin: 1%;
}
.timeStepDiv {
    position: fixed;
    bottom: 0%;
    color: white;
    /* width: 20%; */
    left: 0%;
    text-align: center;
    padding-right: 1%;
    font-size: 1.5vw;
    opacity: 0.5;
}
.addButton {
    float: right;
    border: 1px solid white;
    color: white;
    padding: 1% 2%;
    border-radius: 10%;
}
.addButton:hover {
    background-color: rgba(50,50,50,0.75);
}
.pointer {
    cursor: pointer;
}
.edit-field {
    position: fixed;
    bottom: 20%;
    width: 10%;
}
.edit-field input {
    font-size: 2vw;
    width: 100%;
}
.closeButton {
    float: right;
    border: 1px solid white;
    color: white;
    padding: 1% 2%;
    border-radius: 50%;
    font-size: 1.5vw;
}
.resetButton {
    float: right;
    border: 1px solid white;
    color: white;
    padding: 1% 2%;
    border-radius: 50%;
    font-size: 1.25vw;
}
.referenceDiv {
    position: fixed;
    bottom: 0%;
    color: white;
    width: 30%;
    left: 35%;
    text-align: center;
    font-size: 1.5vw;
    opacity: 0.5;
}