body, html {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main-app {
}

#main-canvas {
    position: relative;
    z-index: 1;
}
#data-container {
    position: fixed;
    display: flex;
    justify-content: space-around;
    top: 2%;
    width: 100%;
    color: white;
    z-index: 2;
    background-color: rgba(50,50,50,0.75);
    font-family: Arial, Helvetica, sans-serif;
}

.inner-data-container {
    z-index: 0;
    width: 20%;
    font-size: 3vw;
    text-align: center;
    cursor: pointer;
}

#game-data-container {
    color: yellow;
    z-index: 0;
    position: fixed;
    width: auto;
    height: auto;
    bottom: 5%;
    left: 2%;
    font-family: 'Courier New', Courier, monospace;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

#time-slider {
    position: fixed;
    bottom: 2%;
    height: auto;
    width: 20%;
    height: 1%;
    left: 2%;
    z-index: 2;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2%;
    height: 20px;
    background: rgb(112, 111, 111);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 2%;
    height: 20px;
    background: #000;
    cursor: pointer;
  }