<!DOCTYPE html>
<html>
<head>
  <title>Budget App</title>


  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.js"
    
  ></script>


      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <style id="compiled-css" type="text/css">
      body {
  background-color: white;
}

#categories, #form-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 2.5%;
}
#form-input div {
  min-width: 400px;
}
.category {
  min-width: 400px;
  text-align: center;
}
.category-title {
  width: 100%;
  font-size: 2em;
}
.item-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.item-list div {
  width: 33%;
}

.underline {
  text-decoration: underline;
}
input {
  width: 50%;
  font-size: 4vw;
  text-align: center;
  margin-top: 2%;
}
select {
  font-size: 4vw;
  width: 70%;
  margin-top: 2%;
  text-align: center;
}
button {
  width: 80%;
  margin-left: 10%;
  margin-top: 2.5%;
  font-size: 4vw;
}

#auto-complete {
  opacity: 0.25;
}

.autocomplete-result.is-active, .autocomplete-result:hover {
  background-color: #4AAE9B;
  color: white;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  font-weight: bold;
}

#date-input {
  width: 70%;
}

@media only screen and (min-width: 800px) {
  .category {
    width: 33%;
  }
  #form-input div {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .category {
    width: 100%;
  }
  #form-input div {
    width: 90%;
    margin-left: 5%;
  }
}
    /* EOS */
  </style>

  <script id="insert"></script>


</head>
<body>
    <div id="main-app">
  <div id="form-input" style="font-size: 4vw;">
    <div>
      Name <input id="name-input" v-model="nameInput" v-on:keyup.enter="moveAutocom"><span class="pointer" @click="moveAutocom" id="auto-complete">{{ autoWord }}</span>
    </div>
    <div>
      <select id="item-category">
        <option value="groc">Grocery</option>
        <option value="rest">Restaurant</option>
        <option value="misc">Miscellaneous</option>
      </select>
    </div>
    <div>
      Price $<input type="number" id="price-input">
    </div>
    <div>
      <input type="date" id="date-input">
    </div>
    <div style="display: none">
      <label>Today</label><input type="radio" name="date" checked>
      <br><label>Yesterday</label><input type="radio" name="date">
      <br><input type="date"><input type="radio" name="date">
    </div>
  </div>
  <div id="submit-div">
    <button id="submit-button" type="button">
      Submit
    </button>
  </div>
  <div id="categories">
    <div class="category">
      <div class="category-title">
        Groceries <br>$<span>{{ categories.groc.current.toFixed(2) }}</span>
      </div>
      <categorytitles></categorytitles>
      <div class="item-list pointer" v-for="item in categories.groc.items" @click="itemClick">
        <div>
          {{ item.date }}
        </div>
        <div>
          {{ item.name }}
        </div>
        <div>
          ${{ item.price.toFixed(2) }}
        </div>
      </div>
    </div>
    <div class="category">
      <div class="category-title">
        Restaurants <br>$<span>{{ categories.rest.current.toFixed(2) }}</span>
      </div>
      <categorytitles></categorytitles>
      <div class="item-list pointer" v-for="item in categories.rest.items" @click="itemClick">
        <div>
          {{ item.date }}
        </div>
        <div>
          {{ item.name }}
        </div>
        <div>
          ${{ item.price.toFixed(2) }}
        </div>
      </div>
    </div>
    <div class="category">
      <div class="category-title">
        Miscellaneous<br>$<span>{{ categories.misc.current.toFixed(2) }}</span>
      </div>
      <categorytitles></categorytitles>
      <div class="item-list pointer" v-for="item in categories.misc.items" @click="itemClick">
        <div>
          {{ item.date }}
        </div>
        <div>
          {{ item.name }}
        </div>
        <div>
          ${{ item.price.toFixed(2) }}
        </div>
      </div>
    </div>
  </div>
  <button id="reset-button" type="button">
    Reset
  </button>
</div>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-database.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyAffo0-Q3WQAk2GaGPv2kQuD8E6yThDHhw",
    authDomain: "owgame-a924a.firebaseapp.com",
    databaseURL: "https://owgame-a924a.firebaseio.com",
    projectId: "owgame-a924a",
    storageBucket: "owgame-a924a.appspot.com",
    messagingSenderId: "1097165157958",
    appId: "1:1097165157958:web:d2b3829d45fcf221773c47",
    measurementId: "G-TZE117CHCW"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
  var database = firebase.database();

</script>


    <script type="text/javascript">//<![CDATA[


Vue.component('categorytitles', {
  template: '<div class="item-list underline">' +
    '<div>Date</div>' +
    '<div>Name</div>' +
    '<div>Price</div>' +
    '</div>'
});


app = new Vue({
  el: '#main-app',
  data: {
    categories: {
      groc: {
        items: [],
        limit: 650,
        current: 650
      },
      rest: {
        items: [],
        limit: 450,
        current: 450
      },
      misc: {
        items: [],
        limit: 350,
        current: 350
      },
    },
    nameInput: '',
    autoWord: '',
    autoWords: [
      'Commissary',
      'Albertson\'s',
      'Wingstop',
      'Subway',
      'PCC',
      'Buffalo Wild Wings',
      'Gas Station - Vandenberg',
      'Gas Station - Santa Maria',
      'Gas Station - Lompoc',
      'Burger King',
      'Feed My Seoul',
      'Mr. Taco',
      'Amazon'

    ]
  },
  methods: {
    itemClick: function(event) {
      let $target = $(event.target);
      if (!$target.hasClass('item-list')) {
        $target = $target.parent();
      }
      let index = $('.category').index($target.parent());
      document.getElementById('item-category').selectedIndex = index;
      switch (index) {
        case 0:
          index = 'groc';
          break;
        case 1:
          index = 'rest';
          break;
        default:
          index = 'misc';
          break;
      }
      let listIndex = $($target).parent().find('.item-list').index($target) - 1;
      this.nameInput = this.categories[index].items[listIndex].name;
      document.getElementById('price-input').value = this.categories[index].items[listIndex].price;
      this.categories[index].items.splice(listIndex, 1);
      firebase.database().ref('/').set(app.categories);
    },
    returnWords: function(str = 'A') {
      return this.autoWords.filter(word => {
        return word.substr(0, str.length).toLowerCase() === str.toLowerCase();
      });
    },
    moveAutocom: function(event) {
      this.nameInput = (this.autoWord.length > 0) ? this.autoWord : this.nameInput;
    }
  },
  watch: {
    'categories.groc.items': function() {
      let lim = this.categories.groc.limit;
      for (let ii = 0; ii < this.categories.groc.items.length; ii++) {
        lim -= this.categories.groc.items[ii].price;
      }
      this.categories.groc.current = lim;
    },
    'categories.rest.items': function() {
      let lim = this.categories.rest.limit;
      for (let ii = 0; ii < this.categories.rest.items.length; ii++) {
        lim -= this.categories.rest.items[ii].price;
      }
      this.categories.rest.current = lim;
    },
    'categories.misc.items': function() {
      let lim = this.categories.misc.limit;
      for (let ii = 0; ii < this.categories.misc.items.length; ii++) {
        lim -= this.categories.misc.items[ii].price;
      }
      this.categories.misc.current = lim;
    },
    nameInput: function() {
      if (this.nameInput.length > 0) {
        let inWords = this.returnWords(this.nameInput);
        this.autoWord = (inWords.length > 0) ? inWords[0] : '';
        if (this.autoWord === this.nameInput) {
          this.autoWord = '';
        }
      } else {
        this.autoWord = '';
      }
    }
  }
});

let today = new Date();
let dd = String(today.getDate()).padStart(2, '0');
let mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
let yyyy = today.getFullYear();
$('#date-input').val(yyyy + '-' + mm + '-' + dd);

document.getElementById('reset-button').addEventListener('click', resetBudget)

document.getElementById('submit-button').addEventListener('click', () => {
  let name = document.getElementById('name-input').value;
  let price = Number(document.getElementById('price-input').value);
  if (name.length === 0 || price === 0) {
    return;
  } else {
    let types = document.getElementById('item-category').options[document.getElementById('item-category').selectedIndex].value;
    let today = $('#date-input')[0].valueAsDate;
    let date = today.getDate();
    let dd = String(today.getDate()).padStart(2, '0');
    let mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    let yyyy = today.getFullYear();
    today = mm + '/' + dd;
    app.categories[types].items.push({
      date: today,
      name: name,
      price: price
    })
    app.nameInput = "";
    document.getElementById('price-input').value = "";
    firebase.database().ref('/').set(app.categories);
  }
})

function resetBudget() {
  let r = confirm("Reset Budget Form?");
  if (r) {
    r = confirm("Are you sure?");
    if (!r) {
      return;
    }
  } else {
    return;
  }
  app.categories = {
    groc: {
      items: [],
      current: 650,
      limit: 650
    },
    rest: {
      items: [],
      current: 450,
      limit: 450
    },
    misc: {
      items: [],
      current: 350,
      limit: 350
    }
  };

  firebase.database().ref('/').set(app.categories);
}

firebase.database().ref('/').once('value').then(function(snapshot) {
  let inData = snapshot.val();
  if (inData.groc.items === undefined) {
    inData.groc.items = [];
  }
  if (inData.rest.items === undefined) {
    inData.rest.items = [];
  }
  if (inData.misc.items === undefined) {
    inData.misc.items = [];
  }
  app.categories = inData;
});



  //]]></script>


</body>
</html>
