<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="SupportLibraries/Chart.bundle.min.js"></script>
    <script src="SupportLibraries/math.min.js"></script>
    <script src="SupportLibraries/vue.js"></script>
    <script src="SupportLibraries/jquery.min.js"></script>

    <!-- <script src="SupportLibraries/astroFunctions.js"></script> -->
    <script src="js/cap1v1/Cap1v1main.js"></script>
    <script src="js/cap1v1/Cap1v1Trajectories.js"></script>
    <script src="js/cap1v1/Cap1v1HandleEvents.js"></script>
    <title>RPO 1v1</title>
    <link rel="stylesheet" type="text/css" href="css/cap1v1.css">
    
</head>

<body class="noselect">
    <ul class="navbar">
        <li style="padding-left: 2%; font-size: 2.5vw;">
            <p id="navTitle">1v1 Simulator</p>
        </li>
        <li class="pointer" id="turn-button" style="margin-left: 30%; font-size: 2vw;">
            <p>Turn <span>1</span></p>
        </li>
        <li class="pointer" id="setup" style="float: right; padding-right: 2%; font-size: 2vw;">
            <p>Instructions &#9776;</p>
        </li>
    </ul>
    <div class="instruction-screen">
        <h4><u>Goal</u></h4>
        <p>Move blue satellite into an advantageous position with respect to the Sun vector and the red satellite.
            Success will be defined by the specific mission.
        </p>
        <h4><u>Planning Manuevers</u></h4>
        <p>User is able to plan a maneuver on their blue RSO (and speculate what the red side could do as well)</p>
        <ol>
            <li>- Click on desired waypoint to start the maneuver process</li>
            <li>- Alternatively, click on the desired maneuver on the side-bar menu</li>
            <li>- With a waypoint selected, the user has two options, accessed by keyboard inputs</li>
            <ol>
                <li>[b] - Plan a manual maneuver burn (i.e. manually choose direction and magnitude)</li> <br>
                <li>[t] - Initiate a targeting sequence</li>
            </ol>
            <li>- For both options, the user will be constrained by the amount of fuel they have left. An example would be if a user has a total of 2.5 m/s and they used 1.5 m/s on the first burn, the second burn will 
                be restricted to a magnitude of 1 m/s.
            </li>
            <li>- When planning a maneuver with waypoint targeting, keep the following in mind</li>
            <ol>
                <li>- The default targeted point is the next burn location, this can be changed with the [<] and [>] keys.</li> <br>
                <li>- The tranparent white ellipse that appears represents the area that is physically possible to reach in the chosen amount of time with fuel constraints.</li> <br>
            </ol>
        </ol>
        <p>The slider will allow user to view satellite/Sun positions at any scenario time</p>
        <p>Zoom [+] & [-]   Move Camera [W][S][A][D]</p>
    </div>
    <div class="setup-screen" id="setup-data">
        <div class="setup-container">
            <p class="container-title" style="color: rgb(100,150,255)">Blue Satellite</p>
            <p><u>Initial State</u></p>
            <p><em>A<sub>e</sub></em>: <input v-model="blue.ae"> km</p>
            <p><em>X<sub>d</em></sub> :<input v-model="blue.xd"> km</p>
            <p><em>Y<sub>d</sub></em> :<input v-model="blue.yd" placeholder="10.0"> km</p>
            <p><em>&#946</em>: <input v-model="blue.B"> <sup>o</sup></p>
            <p><u>Success Parameters</u></p>
            <p>&#916V Available: <input v-model="scenario_start.dVavail"> m/s</p>
            <p>Required CATS: <input v-model="scenario_start.reqCats"> <sup>o</sup></p>
            <p>Range: <input v-model="scenario_start.rangeReq[0]"> to <input v-model="scenario_start.rangeReq[1]">
        </div>
        <div class="setup-container">
            <p class="container-title" style="color: rgb(255,150,100)">Red Satellite</p>
            <p><u>Initial State</u></p>
            <p><em>A<sub>e</sub></em>: <input v-model="red.ae"> km</p>
            <p><em>X<sub>d</em></sub> :<input v-model="red.xd"> km</p>
            <p><em>Y<sub>d</sub></em> :<input v-model="red.yd" placeholder="-10.0"> km</p>
            <p><em>&#946</em>: <input v-model="red.B"> <sup>o</sup></p>
        </div>
        <div class="setup-container">
            <div style="display: none;">
                <p class="container-title" style="color: rgb(150,150,150)">Grey Satellite #1</p>
                <p><u>Initial State</u></p>
                <p><em>Ae</em>: <input v-model="gray1.ae"> km</p>
                <p><em>X<sub>d</em></sub> :<input v-model="gray1.xd"> km</p>
                <p><em>Y<sub>d</sub></em> :<input v-model="gray1.yd"> km</p>
                <p><em>&#946</em>: <input v-model="gray1.B"> <sup>o</sup></p>
            </div>
            <div class="add-button">+</div>
        </div>
        <div class="setup-container">
            <div style="display: none;">
                <p class="container-title" style="color: rgb(150,150,150)">Grey Satellite #2</p>
                <p><u>Initial State</u></p>
                <p><em>Ae</em>: <input v-model="gray2.ae"> km</p>
                <p><em>X<sub>d</em></sub> :<input v-model="gray2.xd"> km</p>
                <p><em>Y<sub>d</sub></em> :<input v-model="gray2.yd"> km</p>
                <p><em>&#946</em>: <input v-model="gray2.B"> <sup>o</sup></p>
            </div>
            <div class="add-button">+</div>
        </div>
        <div class="sun-angle">
            Initial Sun <input v-model="scenario_start.initSun"><sup>o</sup> 
            <br>Burns/Player <input v-model="scenario_start.bp">
            <br>Scenario Length <input v-model="scenario_start.sl"> hrs
            <br>Team 1<input type="radio" name="gender" value="1" v-model="teamNumber">
            <br>Team 2<input type="radio" name="gender" value="2" v-model="teamNumber">
            <!-- <select>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select> -->
        </div>
        <div class="start-button">Start</div>
    </div>
    <div class="sideBar" id="side-data">
        <div class="controlTitle pointer"><span>Engagement Data</span></div>
        <div class="side-data" id="dataContainer">
            <p class="dropdown-item">Current Range: {{ scenario_data.curRange.toFixed(2) }} km</p>
            <p class="dropdown-item">Close Approach: {{ scenario_data.closeApproach.toFixed(2) }} km @ {{ scenario_data.closeTime }}</p>
            <p class="dropdown-item">CATS Angle: {{ scenario_data.curCats.toFixed(2) }} degrees</p>
            <p class="dropdown-item">Blue &#916V: {{ scenario_data.blueDv.toFixed(2) }} m/s</p>
            <p class="dropdown-item">Red &#916V: {{ scenario_data.redDv.toFixed(2) }} m/s</p>
        </div>
        <div class="controlTitle pointer"><span style="color:rgb(100,150,255)">Blue Satellite</span></div>
        <div class="side-data burn-container" id="dataContainer" style="display: none;">
            <table class="table" id="burnTable" style="margin-top: 3%;">
                <thead>
                    <tr>
                        <th>Time [hrs]</th>
                        <th>Radial [m/s]</th>
                        <th>In-Track [m/s]</th>
                    </tr>
                </thead>
                <tbody class="pointer">
                    <tr class="burnRows" v-for="(burn,index) in scenario_data.blueBurns" v-on:click="burnClick">
                        <th>+ {{ (scenario_data.scenLength/scenario_data.numBurns*(index)).toFixed(1) }}</th>
                        <td>{{ burn[0].toFixed(3) }}</td>
                        <td>{{ burn[1].toFixed(3) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="controlTitle pointer"><span style="color:rgb(255,100,50)">Red Satellite</span></div>
        <div class="side-data burn-container" id="dataContainer" style="display: none;">
            <table class="table" id="burnTable" style="margin-top: 3%;">
                <thead>
                    <tr>
                        <th>Time [hrs]</th>
                        <th>Radial [m/s]</th>
                        <th>In-Track [m/s]</th>
                    </tr>
                </thead>
                <tbody class="pointer">
                    <tr class="burnRows" v-for="(burn,index) in scenario_data.redBurns" v-on:click="burnClick">
                        <th>+ {{ (scenario_data.scenLength/scenario_data.numBurns*(index)).toFixed(1) }}</th>
                        <td>{{ burn[0].toFixed(3) }}</td>
                        <td>{{ burn[1].toFixed(3) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="width:95%; height:auto; margin: auto; padding-top: 2.5%">
        <canvas id="ChartCnvs" width="51" height="23"></canvas>
    </div>
    <div class="slider-contain">
        <p>Time: <span>00:00</span></p>
        <input type="range" class="slider" min="0" max="15" value="0" step="0.016667">
    </div>
    <div class="team-number"></div>
    <div class="info">
        Test
    </div>
    <div class="info-right">
        
    </div>
    <script src="js/cap1v1/vue1v1.js"></script>
    <script src="js/cap1v1/jquery1v1.js"></script>



    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-database.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-analytics.js"></script>

    <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyBHT3uSihCK6myGAdY5Tmvkyng3MXhCHzQ",
        authDomain: "ow1v1back.firebaseapp.com",
        databaseURL: "https://ow1v1back.firebaseio.com",
        projectId: "ow1v1back",
        storageBucket: "ow1v1back.appspot.com",
        messagingSenderId: "494304290567",
        appId: "1:494304290567:web:6108eefc4382c3a9d147a2",
        measurementId: "G-T17DB2EXYP"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();

    var database = firebase.database();

    </script> 
</body>

</html>