<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>ARTS</title>
    <script src="../SupportLibraries/math.min.js"></script>
    <script src="../SupportLibraries/LZWEncoder.js"></script>
    <script src="../SupportLibraries/NeuQuant.js"></script>
    <script src="../SupportLibraries/GIFEncoder.js"></script>
    <script src="./js/pso_vz.js"></script>
    <script src="./js/arts.js" defer></script>
    <script src="./js/artsTouch.js" defer></script>
    <link rel="stylesheet" href="./css/arts.css">
    <link rel="icon" href="./Media/sallellite_icon.ico">
</head>

<body class="noselect">
    <div id="canvas-div">
        <canvas id="main-plot"></canvas>
    </div>
    <div id="time-slider">
        <input id="time-slider-range" type="range" min=0 max=86164 step=0.1 value=0 oninput="sliderFunction(this)">
    </div>
    <div class="full-page-menu hidden panel" id="add-satellite-panel">
        <div class="title-text" style="width: 100%; text-align: center; height: auto; font-weight: 900;">Add Satellite</div>
        <div>
            <div class="title-text">Initial State</div>
            <div style="display: flex; justify-content: space-evenly; align-items: center;">
                <div>
                    <div style="margin: 20px 5px">A<sub>e</sub> <input class="rmoe" oninput=initStateFunction(this) style="width: 4em" type="Number" value="0"> km</div>
                    <div style="margin: 20px 5px">R<sub>c</sub> <input class="rmoe" oninput=initStateFunction(this) style="width: 4em" type="Number" value="0"> km</div>
                    <div style="margin: 20px 5px">I<sub>c</sub> <input class="rmoe" oninput=initStateFunction(this) style="width: 4em" type="Number" value="0"> km</div>
                    <div style="margin: 20px 5px">B<sub>o</sub> <input class="rmoe" oninput=initStateFunction(this) style="width: 4em" type="Number" value="0"> deg</div>
                    <div style="margin: 20px 5px">Z<sub>max</sub> <input class="rmoe" oninput=initStateFunction(this) style="width: 4em" type="Number" value="0"> km</div>
                    <div style="margin: 20px 5px">M<sub>o</sub> <input class="rmoe" oninput=initStateFunction(this) style="width: 4em" type="Number" value="0"> deg</div>
                </div>
                <div>
                    <div style="margin: 20px 5px">R <input oninput=initStateFunction(this) style="width: 4em" type="Number" value="0"> km</div>
                    <div style="margin: 20px 5px">I <input oninput=initStateFunction(this) style="width: 4em" type="Number" value="0"> km</div>
                    <div style="margin: 20px 5px">C <input oninput=initStateFunction(this) style="width: 4em" type="Number" value="0"> km</div>
                    <div style="margin: 20px 5px">V<sub>x</sub> <input oninput=initStateFunction(this) style="width: 4em" type="Number" value="0"> m/s</div>
                    <div style="margin: 20px 5px">V<sub>y</sub> <input oninput=initStateFunction(this) style="width: 4em" type="Number" value="0"> m/s</div>
                    <div style="margin: 20px 5px">V<sub>z</sub> <input oninput=initStateFunction(this) style="width: 4em" type="Number" value="0"> m/s</div>
                </div>
                
            </div>
            <div onclick=initStateFunction(this) style="font-size: 1.5em; padding: 14px 4px;" class="panel-button hoverable noselect">To Curvilinear</div>
            <div style="margin: 20px 5px"><input autocomplete="off" title="R I C Rd Id Cd [SunX SunY SunZ] (VVLH)" placeholder="STK String" style="width: 100%;" value="" type="text" id="parse-text"></div>
            <div onclick="parseState(this)" style="font-size: 1.5em; padding: 14px 4px;" class="panel-button hoverable noselect">Parse STK State</div>
        
        </div>
        <div>
            <div class="title-text">Satellite Details</div>
            <div style="margin: 20px 5px">
                <select name="" id="">
                    <option value="delta">Delta</option>
                    <option value="3-star">3-Point Star</option>
                    <option value="4-star">4-Point Star</option>
                    <option value="star">5-Point Star</option>
                    <option value="diamond">Diamond</option>
                    <option value="triangle">Triangle</option>
                    <option value="square">Square</option>
                    <option value="pentagon">Pentagon</option>
                    <option value="hexagon">Hexagon</option>
                    <option value="septagon">Septagon</option>
                    <option value="octagon">Octagon</option>
                </select>
            </div>
            <div style="margin: 20px 5px">Acceleration <input style="width: 4em;" value="10" type="Number"> mm/s<sup>2</sup></div>
            <div style="margin: 20px 5px">Color</sub> <input style="width: 4em;" value="#ff0000" type="color"></div>
            <div style="margin: 20px 5px">Name <input style="width: 6em;" value="" type="text"></div>
            <div onclick="initStateFunction(this)" id="add-satellite-button" style="font-size: 1.5em; padding: 14px 4px;" class="panel-button hoverable noselect">Add Satellite</div>
            <div><span onclick="editSatellite(this)" style="font-size: 1.5em; padding: 2px 4px; width: 50%;" class="panel-button hoverable noselect">Update</span><select onchange="openPanel(this)" style="font-size: 2em; width: 50%;" name="" id="edit-select">
                
            </select></div>
            <div onclick="closeAll()" style="font-size: 1.5em; padding: 14px 4px;" class="panel-button hoverable noselect">Cancel</div>
        
        </div>
    </div>
    <div class="full-page-menu panel hidden" id="options-panel">
        <div class="title-text" style="width: 100%; text-align: center; height: auto; font-weight: 900;">Options</div>
        <div>
            <div class="title-text">Time & Location</div>
            <div style="margin: 20px 5px">Start Date <input style="width: 60%" type="datetime-local" id="start-time" name="meeting-time"
                    value="2019-06-01T00:00"></div>
            <div style="margin: 20px 5px">Scenario Length <input value="24" type="Number" min="0" max="360" step="1"> hrs</div>
            <div style="margin: 20px 5px">Reference SMA <input value="42164" type="Number" min="6700" max="50000" step="1"> km</div>
            <div style="margin: 20px 5px">Sun Time <input value="0000" type="Text" maxLength="4" style="width: 4em"></div>
            <div style="margin: 20px 5px">Sun Cross Angle <input style="width: 3em" value="0" type="Number" min="-90" max="90"><sup>o</sup></div>
            <div style="margin: 20px 5px" class="title-text">Recording</div>
            <div style="margin: 20px 5px">Start Epoch <input value="0" type="Number" min="0" max="10000" step="1"> minutes</div>
            <div style="margin: 20px 5px">End Epoch <input value="1440" type="Number" min="0" max="10000" step="1"> minutes</div>
            <div style="margin: 20px 5px">Time Step <input value="5" type="Number" min="1" max="120" step="1"> minutes</div>
            <div style="margin: 20px 5px">FPS <input value="30" type="Number" min="15" max="60" step="1"></div>
            <div style="margin: 20px 5px">Repeat <input type="checkbox"></div>
            <div><select id="res-select">
                <option value="full">Full Screen</option>
                <option value="1920x1080">1080p</option>
                <option value="1280x720">720p</option>
                <option value="852x480">480p</option>
                <option value="320x240">240p</option>
                <option value="852x852">Square Hi</option>
                <option value="480x480">Square Low</option>
            </select></div>
            <div class="panel-button hoverable noselect" onclick="mainWindow.startRecord(this)" style="font-size: 1.5em; padding: 14px 4px;" class="panel-button hoverable noselect">Record</div>
            <!-- <div class="panel-button hoverable noselect" style="font-size: 1.5em; padding: 14px 4px;" onclick="addKeyFrame()" style="font-size: 1.5em; padding: 2px 4px;" class="panel-button hoverable noselect">Key Frame</div> -->
        
        </div>
        <div>
            <div class="title-text">Visualization</div>
            <div style="margin: 20px 5px">Data Points <input style="width: 4em;" value="200" type="Number"></div>
            <div style="margin: 20px 5px">Name Size <input style="width: 4em;" value="4" type="Number"></div>
             <!-- <div style="margin: 20px 5px">Angle Markers<input type="checkbox" checked></div> -->
            <div style="font-size: 1.5em; padding: 14px 4px;"  id="data-button" class="panel-button hoverable noselect">Data</div>
            <div style="font-size: 1.5em; padding: 14px 4px;"  id="confirm-option-button" class="panel-button hoverable noselect">Confirm</div>
            <div style="font-size: 1.5em; padding: 14px 4px;"  onclick="closeAll()" class="close-button panel-button hoverable noselect">Cancel</div>
            <div style="font-size: 1.5em; padding: 14px 4px;" id="export-option-button" class="panel-button hoverable noselect">Export</div>
            <label style="display: block; font-size: 1.5em; padding: 14px 4px;" class="panel-button hoverable noselect" for="upload-options-button">Import</div><input style="display: none;" id="upload-options-button" type="file" accept=".sas">
    </div>
    <div id="instructions-panel" class="hidden panel">
        <div>
            
            <div onclick="closeAll()" class="close-button panel-button hoverable noselect">Close</div>
            <div style="font-size:2em; margin: 4%; font-weight: bold">Instructions</div>
            <ul>
                <li>
                    Building a plan
                    <ul>
                        <li>Importing satellites with STK report
                            <ul>
                                <li>STK Arts Report should be within scenario</li>
                                <li>Within STK, run report on desired origin satellite, then select desired deputy satellite</li>
                                <li>Satellite names for both the chief and deputy are imported, if not origin satellite exists, one will be created with correct name.</li>
                                <li>Select entire line at report timestep and copy line</li>
                                <li>Paste into either the satellite menu if no satellite exists, or update state context menu</li>
                                <li>System will check if names on satellite match the name from the report and origin sat. If does not match, user given chance to override</li>
                                <li>Satellite will be updated with new state, burns in future will be recalculated to account for new state</li>
                                <li>Other satellites in scenario will be propagated to the time frame specified by the import</li>
                                <li>Sim time and Sun vector are also imported from STK</li>
                            </ul>
                        </li>
                        </li>Importing group of satellites with J2000 states
                            <ul>
                                <li>Format of Epoch Date X Y Z Vx Vy Vz in J2000</li>
                                <li>Line above should start with properties, then name, shape, color, accelartion, etc.</li>
                                <li><button>Download Example</button></li>
                            </ul>
                        </li>
                        </li>Importing as one group of satellites with J2000 states
                            <ul>
                                <li>STK J2000 Position Velocity Report</li>
                                <li>Choose all satellites you want in scenario on left side</li>
                            </ul>
                        </li>
                        <li>Add Satellite by right clicking into satellite menu, then entering either with RMOE or cartesian values</li>
                        <li>By default, all burns are computed with finite accelerations, goto for impulsive burns in 1000 mm/s2</li>
                        <li>To insert a burn, click and hold current satellite position, use slider to change shown time
                        </li>
                        <li>Burn planning options
                            <ul>
                                <li>Click and drag to desired waypoint, changing time of flight with mouse wheel</li>
                                <li>Switch to manual burn direction on right-click menu to click and drag burn direction</li>
                                <li>Open burns panel by right-clicking satellite itself and manually insert RIC coordinate and TOF</li>
                                <li>More burn options available within right-click menu</li>
                                <li>Particle Swarm Optimization utilized to find best position to gain sun, based on delta-V</li>
                            </ul>
                        </li>
                        <li>Burn Right Click
                            <ul>
                                <li>Right clicking on a burn opens up context menu with options</li>
                                <li>Right clicking also copies to clipboard text string for ingestion into STK</li>
                                <li>By default right-clicking shows you burn magnitudes in RIC and allows alteration of burn direction</li>
                                <li>Shift right-clicking brings up burn waypoint information and allows alteration of waypoint</li>
                            </ul>
                        </li>
                        <li>Burns can be deleted by ctrl-clicking on the burn point</li>
                        <li>Limitations
                            <ul>
                                <li>Burns durations are limited to 6 hours for mathematical stability</li>
                                <li>Burns are limited to once every 30 minutes</li>
                                <li>Two-body dynamics are utilized, therefore an error of ~100m per hour can be expected compared to full relative dynamics</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>Spacebar changes current view</li>
                <li>GIF Generation
                    <ul>
                        <li>Select options panel</li>
                        <li>Set start time and end time (in minutes from start of scenario)</li>
                        <li>Select time step per frame (assuming 30 FPS, so if time step is 1 minute, each hour will be 2 seconds long in video)</li>
                        <li>Press record</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>