<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COE</title>
    <script src="../SupportLibraries/math.min.js"></script>
    <script src="../SupportLibraries/vue.js"></script>
    <script src="../SupportLibraries/three.js-master/build/three.js"></script>
    <script src="../SupportLibraries/three.js-master/examples/js/controls/OrbitControls.js"></script>
    <script src="../SupportLibraries/astroFunctions.js"></script>
</head>
<body>
    <canvas></canvas>
    <div id="main-app">

    </div>
    <script src="./js/coeJs.js"></script>
</body>
</html>