<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../SupportLibraries/math.min.js"></script>
    <title>CRTBP</title>
    <style>
        #controls {
            position: fixed;
            top: 5%;
            left: 2%; 
        }
    </style>
</head>
<body>
    <canvas id="main-cnvs"></canvas>
    <div id="controls">
        <div>J <input type="Number" style="width: 10ch;" value="3.332" title="Jacobi's Constant" step="0.001" oninput="updateJ(this)"> km</div>
        <div>Lagrange R <input type="Number" style="width: 10ch;" value="300000" step="1000" title="Starting X for Lyapunov Orbit"></div>
        <div>Inertial <input id="inert-check" type="checkbox" style="width: 10ch;"></div>
        <div><button id="update-button" onclick="calcLyapunov(this)">Calculate Lyapunov Orbit</button></div>
        <div id="calc-data"></div>
    </div>
    <script src="./js/crtbp.js"></script>
</body>
</html>