<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../SupportLibraries/math.js"></script>
    <script src="./js/astro_vz.js"></script>
    <script src="./js/directLaunchSites.js"></script>
    <script src="./js/directLaunch_v2.js" defer></script>
    <style>
        body {
            background-color: rgb(90,0,0);
            color: rgb(200,200,200);
        }
        .state {
            width: 10ch;   
        }
        input, select {
            padding: 2px;    
            text-align: center;
            margin: 0px 4px;   
            background-color: rgb(100,0,0);
            color: white;
            font-size: 1.4em;
        }
        div {
            margin: 10px 5px;
        }
        .state-label {
            font-weight: bolder;
            font-size: 1.25em;
        }
        .info-label {
            text-align: center;
            font-size: 2.5em;
            font-weight: 900;
        }
    </style>
</head>
<body>
    <div>
        <div class="info-label">Launch Site Information</div>
        <div style="display: flex; justify-content: space-around;">
            <div><span class="state-label"><em>Latitude</em></span><input class="state site" type="number" value="0.43"/><sup>o</sup></div>
            <div><span class="state-label"><em>Longitude</em></span><input class="state site" type="number" value="-91.16"/><sup>o</sup></div>
            <div><span class="state-label"><em>Altitude</em></span><input class="state site" type="number" value="0"/>km</div>
            <div><span class="state-label"><em>El Mask</em></span><input class="state site" type="number" value="10"/><sup>o</sup></div>
            <div><select onchange="selectSite(this)" style="font-size: 1.5em;"></select></div>
        </div>
        <div class="info-label">Target Satellite Information</div>
        <div style="display: flex; justify-content: center;">
            <div><span class="state-label">Epoch</span><input class="vector coe" id="sat-epoch" type="datetime-local" value="2022-06-24T14:00:00"></div>
        </div>
        <div style="display: flex; justify-content: center;">
            <div><span class="state-label"><em>a</em></span><input class="state coe" oninput="handleInputs(this)" type="number" value="6800"/></div>
            <div><span class="state-label"><em>e</em></span><input class="state coe" oninput="handleInputs(this)" step="0.01" type="number" value="0"/></div>
            <div><span class="state-label"><em>i</em></span><input class="state coe" oninput="handleInputs(this)" type="number" value="50"/></div>
            <div><span class="state-label"><em>&#937</em></span><input class="state coe" oninput="handleInputs(this)" type="number" value="0"/></div>
            <div><span class="state-label"><em>&#969</em></span><input class="state coe" oninput="handleInputs(this)" type="number" value="0"/></div>
            <div><span class="state-label"><em>&#957</em></span><input class="state coe" oninput="handleInputs(this)" type="number" value="0"/></div>
        </div>
        <div style="display: flex; justify-content: center;">
            <div><span class="state-label">X</span><input oninput="handleInputs(this)" class="state vector" type="number"/></div>
            <div><span class="state-label">Y</span><input oninput="handleInputs(this)" class="state vector" type="number"/></div>
            <div><span class="state-label">Z</span><input oninput="handleInputs(this)" class="state vector" type="number"/></div>
            <div><span class="state-label">V<sub>x</sub></span><input oninput="handleInputs(this)" class="state vector" type="number"/></div>
            <div><span class="state-label">V<sub>y</sub></span><input oninput="handleInputs(this)" class="state vector" type="number"/></div>
            <div><span class="state-label">V<sub>z</sub></span><input oninput="handleInputs(this)" class="state vector" type="number"/></div>
        </div>
        <div style="display: flex; justify-content: center;"><div><input style="width: 90ch;" placeholder="J2000 State" type="text" oninput="importState(this)"></div></div>
        <div class="info-label">Search Information</div>
        <div style="display: flex; justify-content: space-around;">
            <div><span class="state-label"><em>Start Time</em></span><input class="search" type="datetime-local" value="2022-06-24T15:25:00">z</div>
            <div><span class="state-label"><em>Duration</em></span><input class="search" type="number" value="24"/>hrs</div>
            <div><span class="state-label"><em>Time Step</em></span><input class="search" type="number" value="5"/>min</div>
        </div>
        <div><button style="width: 100%; padding: 10px; cursor: pointer;" onclick="loopStartTime()">Calculate</button></div>
        <div class="info-label">Results</div>
        <div id="results-div"></div>
    </div>
</body>
</html>