<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Longitude & Plane</title>
    <link rel="stylesheet" href="./css/polarPlot.css">
    <link rel="stylesheet" href="../SupportLibraries/bootstrap.min2.css">
</head>
<body class="bg-light">
    <div id="file-input">
        <div style="margin-bottom: 1%;"><u>Import TLE File</u></div>
        <input type="file" accept=".txt" id="fileToLoad">
        <div style="margin-top: 3%;"><u>Controls</u></div>
        <div>Add Blue Sat: <img src="./Media/shiftkey.jpg">+<img src="./Media/leftclicklight.jpg"></div>
        <div>Add Red Sat: <img src="./Media/ctrlkey.jpg">+<img src="./Media/leftclicklight.jpg"></div>
        <div>Switch View: <img src="./Media/spacebar.jpg"></div>
        <div>Calculate &#916V: <img src="./Media/leftclicklight.jpg"> + drag</div>
    </div>
    <canvas></canvas>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="./js/polarPlot.js"></script>
</body>
</html>
