<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROTS</title>
    <script src="../SupportLibraries/math.min.js"></script>
    <script src="../SupportLibraries/LZWEncoder.js"></script>
    <script src="../SupportLibraries/NeuQuant.js"></script>
    <script src="../SupportLibraries/GIFEncoder.js"></script>
    <link rel="stylesheet" href="./css/rots.css">
</head>

<body class="noselect">
    <div id="canvas-div">
        <canvas id="main-plot"></canvas>
    </div>
    <div id="time-slider">
        <input id="time-slider-range" type="range" min=0 max=86164 step=0.1 value=0>
    </div>
    <div onclick=openPanel(this) id="add-satellite" class="noselect hoverable" title="Add Satellite">
        +
    </div>
    <div onclick=openPanel(this) id="options" class="noselect hoverable" title="Add Satellite">
        Options
    </div>
    <div onclick=openPanel(this) id="burns" class="noselect hoverable" title="Add Satellite">
        Burns
    </div>
    <div id="maneuver-type-slider">
        <span>Manual</span>
        <label class="switch">
            <input id="maneuver-type-input" type="checkbox">
            <span class="slider"></span>
        </label>
    </div>
    <div onclick=openPanel(this) id="instructions" class="noselect hoverable" title="Add Satellite">
        Instructions
    </div>
    <div id="burns-panel" class="hidden panel">
        <div>
            <div style="font-size:2em; margin: 4%; font-weight: bold">View/Edit Burns</div>
            <select id="satellite-way-select" style="font-size: 2em">
                <option value="0">Blue Triangle</option>
                <option value="1">Red Circle</option>
            </select>
            <table id="waypoint-table" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Start Time</th>
                        <th>Target Radial</th>
                        <th>Target In-Track</th>
                        <th>Target Cross-Track</th>
                        <th>Transfer Time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
            <div style="margin-top:2%; border: 1px solid black; border-radius: 20px; padding: 2% 0%">
                <input style="width: 20%" type="datetime-local" id="add-start-time" name="meeting-time"
                    value="2021-04-01T00:00" class="center"> R: <input class="center" type="Number" value="0"
                    style="width: 4%"> km I: <input class="center" type="Number" value="0" style="width: 4%"> km C:
                <input class="center" id="add-cross" type="Number" value="0" style="width: 4%"> km Transfer Time: <input class="center"
                    type="Number" id="add-tran-time" value="120" style="width: 4%"> min
                <span id="add-waypoint-button">Add</span>
                
                <div>Zero RI Velocity at Target<input type="checkbox" style="margin-right: 50px;">Zero C Velocity at Target<input type="checkbox"></div>
            </div>


            <div onclick="closeAll()" style="width: 50%; margin-bottom: 1%; margin-top: 3%;" class="close-button panel-button hoverable noselect">Close</div>
            <div style="width: 50%; margin-top: 1%" id="export-burns" class="panel-button hoverable noselect">Export Burn List</div>
        </div>
    </div>
    <div id="instructions-panel" class="hidden panel">
        <div>
            <div style="font-size:2em; margin: 4%; font-weight: bold">Instructions</div>
            <ul>
                <li>
                    Building a plan (instructions are work in progress)
                    <ol>
                        <li>Add Satellite with + button in bottom right</li>
                        <li>To insert a burn, click and hold current satellite position, use slider to change shown time
                        </li>
                        <li>Burns can either be planned with a manual direction or with a waypoint by hitting the switch
                            to the right</li>
                        <li>The Following hotkeys can assist with precise burns, hit them while planning burn
                            <ul>
                                <li>1 - Remove relative eccentricity</li>
                                <li>2 - Remove relative semi-major axis (assumes starting top or bottom of NMC)</li>
                                <li>3 - Remove relative semi-major axis (allows selecting of NMC center on in-track)
                                </li>
                                <li>4 - Zero cross-track velocity</li>
                            </ul>
                        </li>
                        <li>Burns can be deleted by cntrl-clicking on the burn</li>
                    </ol>
                </li>
                <li>See cross-track view by hitting spacebar</li>
                <li>Generate GIF by hitting 'a', then 'a' again to download produced GIF
                    <ul>
                        <li>Will generate from the time set on the slider</li>
                        <li>Frames per second and time step set in options</li>
                        <li>Can either repeat indefinitely or stop after one</li>
                    </ul>
                </li>
            </ul>
            <div onclick="closeAll()" class="close-button panel-button hoverable noselect">Close</div>
        </div>
    </div>
    <div id="add-satellite-panel" class="hidden panel">
        <div>
            <div style="font-size:2em; margin: 4%; font-weight: bold">Initial State</div>
            <div>A<sub>e</sub><input class="rmoe" oninput=initStateFunction(this) value="0" type="Number"> km <span style="margin-left: 20px;">R<input oninput=initStateFunction(this) value="0" type="Number"> km</span></div>
            <div>X<sub>c</sub><input class="rmoe" oninput=initStateFunction(this) value="0" type="Number"> km <span style="margin-left: 20px;">I<input oninput=initStateFunction(this) value="0" type="Number"> km</span></div>
            <div>Y<sub>c</sub><input class="rmoe" oninput=initStateFunction(this) value="0" type="Number"> km <span style="margin-left: 20px;">C<input oninput=initStateFunction(this) value="0" type="Number"> km</span></div>
            <div>B<sub>o</sub><input class="rmoe" oninput=initStateFunction(this) value="0" type="Number"><sup>o</sup> <span style="margin-left: 20px;">V<sub>R</sub><input oninput=initStateFunction(this) value="0" type="Number"></span> m/s</div>
            <div>M<sub>o</sub><input class="rmoe" oninput=initStateFunction(this) value="0" type="Number"><sup>o</sup> <span style="margin-left: 20px;">V<sub>I</sub><input oninput=initStateFunction(this) value="0" type="Number"></span> m/s</div>
            <div>Z<sub>max</sub><input class="rmoe" oninput=initStateFunction(this) value="0" type="Number"> km <span style="margin-left: 20px;">V<sub>C</sub><input oninput=initStateFunction(this) value="0" type="Number"></span> m/s</div>
            <div style="margin-top: 20px;"><span onclick=initStateFunction(this) class="panel-button hoverable noselect">To Curvilinear</span><span class="panel-button hoverable noselect">From Curvilinear</span></div>
        </div>
        <div>
            <div style="font-size:2em; margin: 4%; font-weight: bold">Satellite Details</div>
            <div>Shape
                <select name="" id="">
                    <option value="square">Square</option>
                    <option value="triangle">Triangle</option>
                    <option value="up-triangle">Reverse Triangle</option>
                </select>
            </div>
            <div>Acceleration<input value="10" type="Number"> mm/s<sup>2</sup></div>
            <div>Fuel<sub>burn</sub><input value="999" type="Number"> m/s</div>
            <div>Cooldown</sub><input value="0" type="Number"> mins</div>
            <div>Color</sub><input value="#ff0000" type="color"> mins</div>
            <div id="add-satellite-button" class="panel-button hoverable noselect">Insert</div>
            <div onclick="closeAll()" class="close-button panel-button hoverable noselect">Cancel</div>
        </div>
    </div>
    <div id="options-panel" class="hidden panel">
        <div>
            <div style="font-size:2em; margin: 4%; font-weight: bold">Time & Location</div>
            <div>Start Date <input style="width: 75%" type="datetime-local" id="start-time" name="meeting-time"
                    value="2021-04-01T00:00"></div>
            <div>Scenario Length <input value="24" type="Number" min="0" max="360" step="1">hrs</div>
            <div>Reference SMA <input value="42164" type="Number" min="6700" max="50000" step="1"> km</div>
            <div>Sun Time <input value="0000" type="Text" maxLength="4"></div>
            <div>Sun Cross Angle <input value="0" type="Number" min="-90" max="90"><sup>o</sup></div>
            <div style="font-size:2em; margin: 4%; font-weight: bold">Recording</div>
            <div>Time Step <input value="5" type="Number" min="1" max="120" step="1"> mins</div>
            <div>FPS <input value="30" type="Number" min="15" max="60" step="1"></div>
            <div>Repeat <input type="checkbox"></div>
        </div>
        <div>
            <div style="font-size:2em; margin: 4%; font-weight: bold">Visualization</div>
            <div>Data Points<input value="200" type="Number" min="100" max="500"></div>
            <div>Line Width<input value="3" type="Number" min="1" max="10"> px</div>
            <div>Line Trajectory<input type="checkbox"></div>
            <div>Finite Burns<input type="checkbox" checked></div>
            <div>Finite Targeting<input type="checkbox" checked></div>
            <div id="export-option-button" class="panel-button hoverable noselect">Export</div>
            <div>Import <input style="width: 50%" id="upload-options-button" type="file" accept=".sas"></div>
            <div id="data-button" class="panel-button hoverable noselect">Data</div>
            <div id="confirm-option-button" class="panel-button hoverable noselect">Confirm</div>
            <div onclick="closeAll()" class="close-button panel-button hoverable noselect">Cancel</div>
        </div>
    </div>
    <div id="data-panel" class="hidden panel">
        <div>
            <div style="font-size:2em; margin: 4%; font-weight: bold">Origin</div>
            <select id="origin-select" style="font-size: 2em">
            </select>
            <div style="font-size:2em; margin: 4%; font-weight: bold">Target</div>
            <select id="target-select" style="font-size: 2em">
            </select>
        </div>
        <div>
            <div><input type="checkbox">Range</div>
            <div><input type="checkbox">Range Rate</div>
            <div><input type="checkbox">Tangential Rate</div>
            <div><input type="checkbox">POCA</div>
            <div><input type="checkbox">CATS</div>
            <div id="confirm-data-button" class="panel-button hoverable noselect">Confirm</div>
        </div>
    </div>
    <script src="./js/rots.js"></script>
</body>

</html>