<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDA Simulator</title>
    <link rel="stylesheet" href="./css/sda.css">
    <script src="../SupportLibraries/math.js"></script>
    <script src="./js/sda.js" defer></script>
</head>
<body>
    <div class="display-container">
        <div class="display-inertial">
            <canvas id="inertial-canvas"></canvas>
        </div>
        <div class="display-ric">
            <canvas id="ric-canvas"></canvas>
        </div>
        <div class="display-control">
            <div>
                # Optical <input class="site-input" type="number" value="2" min="0" oninput="updateSensors(event)"> 
                # Radar <input class="site-input" type="number" value="0" min="0" oninput="updateSensors(event)"> 
                # Space <input class="site-input" type="number" value="0" min="0" oninput="updateSensors(event)"></div>
            <div id="sensor-display">
            </div>
            <div>
                Track Time<input type="number" class="site-input" placeholder="Total Time" value="6" id="tt">
                Frequency of Obs <input type="number" class="site-input" placeholder="Freq" id="freq" value="15"> min
                Longitude <input type="number" class="site-input" placeholder="Freq" id="freq" value="0" oninput="changeLongitude(event)"> deg
                <button onclick="runAlgorith()">
                    Run
                </button>
            </div>
        </div>
        <div class="display-obs">
            <canvas id="obs-canvas"></canvas>
        </div>

    </div>
</body>
</html>