<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDA Simulator</title>
    <link rel="stylesheet" href="./css/sda.css">
    <script src="../SupportLibraries/math.js"></script>
    <script src="./js/sda.js" defer></script>
</head>
<body>
    <div class="display-container">
        <div class="display-inertial">
            <canvas id="inertial-canvas"></canvas>
        </div>
        <div class="display-ric">
            <canvas id="ric-canvas"></canvas>
        </div>
        <div class="display-control">
            <div># Ground <input type="number" value="2" min="0" oninput="updateSensors(event)"> # Space <input type="number" value="0" min="0" oninput="updateSensors(event)"></div>
            <div id="sensor-display">
                <div index="0">Optical Sensor 1 
                    Lat:  <span class="value-span"><span contenteditable="true" oninput="editSensor(event)">30</span> deg </span>
                    Long: <span class="value-span"><span contenteditable="true" oninput="editSensor(event)">10</span> deg </span>
                    StD:  <span class="value-span"><span contenteditable="true" oninput="editSensor(event)">0.005</span> deg </span>
                </div>
                <div index="1">Optical Sensor 2 
                    Lat:  <span class="value-span"><span contenteditable="true" oninput="editSensor(event)">10</span> deg </span>
                    Long: <span class="value-span"><span contenteditable="true" oninput="editSensor(event)">-20</span> deg </span>
                    StD:  <span class="value-span"><span contenteditable="true" oninput="editSensor(event)">0.005</span> deg </span>
                </div>
            </div>
            <div>
                <input type="number" placeholder="Total Time" value="7200" id="tt">
                <input type="number" placeholder="Freq" id="freq" value="600"> Hz
                <button onclick="runAlgorith()">
                    Run
                </button>
            </div>
        </div>
        <div class="display-obs">
            <canvas id="obs-canvas"></canvas>
        </div>

    </div>
</body>
</html>