<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SDA</title>
    <script src="../SupportLibraries/math.js"></script>
    <script src="./js/hpop_vz.js"></script>
    <script src="./js/sda_sensors.js"></script>
    <script src="./js/sda_v2.js" defer></script>

    <link rel="stylesheet" href="./css/sda_v2.css">
</head>
<body class="noselect">
    <div id="main-display">
        <div id="results-display">
            <div><span>OD Date</span><input type="date" name="" id="date-input" oninput="timeChange(this)"><input type="time" name="" id="time-input" oninput="timeChange(this)"></div>
            <div>
                <input type="text" placeholder="SDA Report Input" oninput="importState(this)"> -or- <input style="width: 12ch;" type="Number" placeholder="Longitude" id="long-input"> <button onclick="addSatellite(this)">Create GEO Sat</button>
            </div>
            <div><button onclick="showMap()">Display Map</button><button onclick="saveCurrentSensors()">Save Sensors</button><button id="upload-button" for="file-input" onclick="uploadSensors()">Load Sensors</button><input onchange="uploadSensors()" accept=".sassda, .txt" style="display: none;" id="file-input" type="file"></div>
            <div id="coe-display"></div>
            <div>
                <input type="Number" placeholder="6" value="6" id="track-time-input"> hrs
                <button onclick="getObHistory(event)">Generate Obs</button>
                <button onclick="estimateCovariance()">Estimate Covariance</button>
            </div>
            <div id="cov-display" onclick="showCovariance()"></div>
            <div class="no-scroll" id="ob-list"></div>
        </div>
        <div class="no-scroll" id="sensor-list"></div>
    </div>
</body>
</html>