<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalman Filter Testing</title>
    <script src="../SupportLibraries/math.min.js"></script>
    <script src="./js/kalman_vz.js"></script>
</head>
<body>
    <script>
        let f = new filter_unscented()
        f.propState = runge_kutta
        let realState = [[0, 10, 1, 0.00, 0.00, 0]]
        let P = [5, 5, 5, 0.005, 0.005, 0.005]
        let estState = [[
            realState[0][0] + randn_bm() * P[0],
            realState[0][1] + randn_bm() * P[1],
            realState[0][2] + randn_bm() * P[2],
            realState[0][3] + randn_bm() * P[3],
            realState[0][4] + randn_bm() * P[4],
            realState[0][5] + randn_bm() * P[5],
        ]]
        estState = [[0, 11, 0, 0, 0, 0]]
        P = math.diag(P.map(p => p ** 2))
        f.P = P
        f.estState = estState
        let dt = 1
        for (let ii = 0; ii < 4600; ii += dt) {
            if (ii > 1000 && ii < 1010) {
                let a = [0,0.000,0.000025]
                realState = runge_kutta(realState, dt, a)
                let obs = f.measurementFunction(realState)
                obs[0][0] += math.sqrt(f.R[0][0]) * f.randn_bm()
                obs[1][0] += math.sqrt(f.R[1][1]) * f.randn_bm()
                f.step({obs, dt, a: a})
            }
            else {
                realState = runge_kutta(realState, dt, [0,0,0])
                let obs = f.measurementFunction(realState)
                f.step({obs, dt, a: [0,0,0]})
            
            }
        }
        console.log(realState[0], f.estState[0]);
        // f.resetP()
        // for (let ii = 0; ii < 1000; ii++) {
        //     if (ii > 500 && ii < 2500) {
        //         let a = [0,0,0]
        //         realState = runge_kutta(realState, dt, a)
        //         let obs = f.measurementFunction(realState)
        //         f.step({obs, dt, a: a})
        //     }
        //     else {
        //         realState = runge_kutta(realState, dt, [0,0,0])
        //         let obs = f.measurementFunction(realState)
        //         f.step({obs, dt, a: [0,0,0]})
            
        //     }
        // }
        // console.log(realState[0], f.estState[0]); 

        function twoBodyRpo(state = [[-1.89733896, 399.98, 0, 0, 0, 0]], options = {}) {
            let {mu = 398600.4418, r0 = 42164, a = [0,0,0]} = options;
            let n = (mu / r0 ** 3) ** (1/2)
            let ndot = 0
            let x = state[0][0], y = state[0][1], z = state[0][2], dx = state[0][3], dy = state[0][4], dz = state[0][5];
            let rT = ((r0 + x) ** 2 + y ** 2 + z ** 2) ** (1.5);
            return [[
                dx,
                dy,
                dz,
                -mu * (r0 + x) / rT+ mu / r0 ** 2 + 2 * n * dy + n ** 2 * x + ndot * y +  a[0],
                -mu * y / rT - 2 * n * dx - ndot * x + n ** 2 * y + a[1],
                -mu * z / rT + a[2]
            ]];
        }

        function runge_kutta(state, dt, a = [0,0,0]) {
            eom = twoBodyRpo
            let k1 = eom(state, {a});
            let k2 = eom(math.add(state, math.dotMultiply(dt/2, k1)), {a});
            return math.add(state, math.dotMultiply(dt, k2));
        }
    
        function randn_bm() {
            var u = 0, v = 0;
            while(u === 0) u = Math.random(); //Converting [0,1) to (0,1)
            while(v === 0) v = Math.random();
            return Math.sqrt( -2.0 * Math.log( u ) ) * Math.cos( 2.0 * Math.PI * v );
        }
    </script>
</body>
</html>