.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
body, html {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#data {
    position: fixed;
    left: 1%;
    top: 5%;
    color: white;
    z-index: 3;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5vw;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    background-color: rgb(50,50,50);
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: rgba(50,50,50,0.5);
    outline: none;
    opacity: 0.5;
}


.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(100,100,100); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.white-border {
    border: 1.5px solid white;
    padding: 2%;
}

.sat-name {
    font-size: 2vw;
    text-align: center;
}

.sat-name:hover {
}

.add-sat-button {
    border: 2px solid white;
    text-align: center;
    border-radius: 10px;
    margin-top: 4%;
}

.add-sat-button:hover {
    background-color: rgb(50,50,50);
}

.maneuver-button {
    border-radius: 10px;
}

.controls {
    color: white;
    z-index: 2;
    text-align: center;
    position: fixed;
    top: 50%;
    width: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4vw;
}

.controls div {
    margin: 10% 0%
}

.button-format {
    padding: 1%;
    border-radius: 10px;
}

#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: black;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #505a61; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
  
@keyframes spin {
    0% { transform: rotate(0deg) translate(-50%, -50%); }
    100% { transform: rotate(360deg) translate(-50%, -50%); }
}

axis {
    position: fixed;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2vw;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: wheat;
}