body {
    overflow: hidden;
    height: 100%;
    width: 100%;
}
#file-input {
    position: fixed;
    width: auto;
    z-index: 2;
    top: 5%;
    right: 0%;
    font-size: 1vw;
}
#file-input div {
    color: rgb(75, 75, 75);
}
input {
    color:  rgb(75, 75, 75);
}
img {
    margin-top: 2%;
    max-height: 3vw;
}

.maneuver {
    position: fixed;
    top: 5%;
    left: 5%;
    font-size: 4vw;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}