#main-display {
    display: flex;
    justify-content: flex-start;
    height: 100%;
}
#sensor-list {
    font-size: 4vw;
    overflow-y: scroll;
    max-height: 900px;
}
#results-display div {
    margin: 10px 0px;
    font-size: 1.1em;
}
button {
    color: white;
    background-color: #777;
    padding: 7.5px;
    margin: 0px 5px;
    border: 1px solid #777;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px #999;
}
button:active {
    box-shadow: 0 2.5px #999;
    transform: translateY(2.5px);
}
input {
    padding: 5px;
    border-radius: 5px;
    font-size: 1.25em;
}
#track-time-input {
    width: 6ch;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}