body {
    font-family: Garamond, sans-serif;
}
#drop-div {
    margin-left: 8%;
    margin-right: auto;
    padding: 20px; 
    border: 1px solid black; 
    border-radius: 20px; 
    width: 80%;
    height: 150px;
    transition-duration: 0.3s;
}
#parameters {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 5% 0%;
    flex-flow: row wrap;
}
.parameter-box {
    min-width: 200px;
}
.button {
    background-color: #737573;
    border: none;
    width: 70%;
    margin-left: 15%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid white;
    transition-duration: 0.3s;
}
.button:hover {
    background-color: white;
    color: #737573;
    border-radius: 7.5px;
    border: 2px solid #737573;
}
#drop-div:hover, .dragged-on{
    background-color: rgb(193, 193, 194);
    font-size: 3em;
}
#main-area {
    position: flex;
    width: 100%;
    justify-content: space-around;
}
.center {
    text-align: center;
}
input {
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
#data-cnvs {
    width: 100%;
    height: 500px;
}
#warning {
    position: fixed;
    z-index: 4;
    top: 240px;
    left: 551px;
}
td {
    text-align: center;
}
td input {
    width: 5em;
}
#cov-area {
    margin-left: 50%;
    transform: translateX(-50%);
}

#cov-title {
    text-align: center;
    font-size: 1.5em;
}

#consol-button {
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

#parameters input {
    width: 4em;
    font-size: 1.5em;
}

#parameters {
    font-size: 2em;
    margin: 2% 0%;
}

#clear-cache-button {
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}

table {
    background-color: #eee;
    border: 3px solid black;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}